<div id="outer-wrap">
	<div id="inner-wrap">

		<div id="catchall">

			<div id="header"> 
				<div id="logo">	
				</div>
				<div id="menu">
					<nav>
						<ul class="navigation">
							<li><a href="/">HOME</a></li>|
							<li><a href="">THE PROBLEM</a></li>|
							<li><a href="">OUR PLAN</a></li>|
							<li><a href="">SOLUTIONS FOR SCHOOLS</a></li>|
							<li><a href="">ABOUT US</a></li>
						</ul>	
					</nav>
				</div>
			</div>
		<div id="image">
			<div id="banner-left" ></div>
			<div id="banner" ><%= image_tag ('highway.jpg') %></div>
			<div id="banner-right"></div>
		</div>
		
		<div id="content-wrapper2">
			<div id="border"></div>			
			<div id="contents">
				<div id="title">
					<h2>Congratulations! Your connection speed is <span style="color: #408de6;">100 MBS</span></h2>
				</div>
				<div id="speed">
					<h3>Here is your FutureReady badge</h3>	
				</div>
				<div id="badgecontent">

<!--This stuff is all part of the same section begin-->
					<div id="badge">
						<%= image_tag ("seal.jpg"), :class => "seal"  %>
					</div>
	
					<div id="widget">
						<h4>George Washington High School is FutureReady!</h4>
						<h5>Paste the following code on your school website to display your badge!</h5> 
<div id="samplecode">
	<xmp>
	  <iframe width="560" height="315" src=
	  "//www.youtube.com/embed/k-241jLHVMU" 
	  frameborder="0" allowfullscreen></iframe>
	</xmp>
</div>
					</div>	
					<div id="explainer">
						<div id="speed">
							<h4>What is the FutureReady badge?</h4>	
						</div>
						<p>A digital badge is an online representation of a skill you’ve earned. Open Badges take that concept one step further, and allows you to verify your skills, interests and achievements through credible organizations. And because the system is based on an open standard, you can combine multiple badges from different issuers to tell the complete story of your achievements — both online and off. Display your badges wherever you want them on the web, and share them for employment, education or lifelong learning.</p>
						
						<p>Open Badges is a new online standard to recognize and verify learning</p>
						<ul>
							<li><p>Mozilla Open Badges are not proprietary — they use free software and an open technical standard. That means that any organization can create, issue and verify digital badges, and any user can earn, manage and display these badges all across the web.</li></p>
							<li><p>Open Badges help knit your skills together. Badges can build upon each other, joining together to tell the full story of your skills and achievement.</li></p>
							<li><p>With Open Badges, every badge is full of information. Each one has important data built in that links back to the issuer, the criteria it was issued under and evidence verifying the credential — features unique to Open Badges.</li></p>
							<li><p>Open Badges let you take your badges everywhere. Users now have an easy and comprehensive way to collect their badges in a single backpack, and display their skills and achievements on social networking profiles, job sites, their websites and more.</li></p>
							<li><p>Individuals can earn badges from multiple sources, both online and offline. Then manage and share them using the Open Badges backpack. Right now we’re launching with the Mozilla Backpack, and other organizations will be able to use Open Badges to make their own backpacks later this year.</li></p>
						</ul>	
					</div>
<!--This stuff is all part of the same section end-->					
				</div>	
				</div>
			</div>	
		</div>
		
		<div id="footer">
					EducationSuperHighway<br>
					1 Montgomery Street, #2500<br>
					San Francisco, CA 94104<br>
					415-263-9171<br>
					info@EducationSuperHighway.org<br>
		</div>
		
		</div>
	</div>
<div>				